@{
    ViewBag.Title = "About";
}
<br/><br/>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail">
                            <span><font size="5" color="Black">About BdAid</font></span> <br />
                            <p style="color:#8B8585">
                                BdAid is a online charity platform where one can donate and seek donation for novel cause. People can post here seeking help for needy people and can request for blood.
                                It is an open platform where anyone can post for help and can donate to help others. It is one of the leargest
                                online charity websites in Bangladesh.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
<style>
    .detail {
        margin: auto;
        width: 70%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>