
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="row" ng-controller="DashboardController" ng-init="Init('@Url.Content("~/")')" align="center">
    <table style="width: 90%">
        <tr>
            <td style="width: 45%">
                <div class="panel panel-default">
                    <div class="panel-heading">Posts</div>
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie"
                                chart-data="dataPosts" chart-labels="labelPosts" chart-options="options"></canvas>
                    </div>
                </div>
            </td>
            <td style="width: 10%">&nbsp;</td>
            <td style="width: 45%">
                <div class="panel panel-default">
                    <div class="panel-heading">Weekly Responses</div>
                    <div class="panel-body" style="background-color: white">
                        <canvas id="pie" class="chart chart-line"
                                chart-data="data1" chart-labels="labels1" chart-options="options"></canvas>
                    </div>
                </div>
            </td>
        </tr>
        @*<tr><td>&nbsp;</td></tr>*@
        @*<tr>
            <td colspan="3">
                <div class="panel panel-default">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body" style="background-color: white">
                        <canvas id="pie" class="chart chart-bar"
                                chart-data="dataUsers" chart-labels="labelUsers" chart-options="options"></canvas>
                    </div>
                </div>
                
            </td>
        </tr>*@
    </table>
</div>

