          
@model List<ATP2.BDAID.Entities.UserInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuthorizeLayout.cshtml";
}

<div class="row" style="margin-top: 10px">
    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item" href="#" onclick="ChangeIframe('@Url.Action("Profile","AdminHost")','Profile')">Profile</a>
            <a class="list-group-item" href="#" onclick="ChangeIframe('@Url.Action("List","AdminService")', 'Services')">Services</a>
            <a class="list-group-item" href="#" onclick="ChangeIframe()">Employees</a>
            <a class="list-group-item" href="#buttons">Users</a>
            <a class="list-group-item" href="#typography">Posts</a>
            <a class="list-group-item" href="#typography">Message Box</a>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist" id="tabBar">
            <li role="presentation" id="liDash" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
            <li role="presentation" id="liContainer"><a href="#postContainer" id="hContainer" aria-controls="home" role="tab" data-toggle="tab">Profile</a></li>
        </ul>
        <div class="tab-content" id="tabContainer">
            <div role="tabpanel" class="tab-pane active" id="dashboard">
                Dashboard
            </div>
            <div role="tabpanel" class="tab-pane" id="postContainer">
                <iframe id="iFrameContainer" src="@Url.Action("Profile","AdminHost")" width="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function() {

            var height = $(document).height() - 135;
            $("#iFrameContainer").height(height);

        });

        function ChangeIframe(url,tablName) {
            $('#hContainer').text(tablName);

            $("#iFrameContainer").attr('src', url);

            $('#liDash').removeClass('active');
            $('#dashboard').removeClass('active');
            $('#liContainer').addClass('active');
            $('#postContainer').addClass('active');

        }

    </script>
}

